@use './../../mixins';
@use './../../vars';

.choice__us {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 150px;

    &_container {
        width: 80%;

        @media (max-width: 426px) {
            width: 95%;
        }
    }

    &_title {
        @include mixins.font-xcharter-3xl-700;

        color: vars.$brown-color;
        margin-bottom: 25px;

        @media (max-width: 426px) {
            font-size: 32px;


        }
    }

    &_list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 25px;

        

        &-mobile {
            @media (min-width: 769px) {
                display: none ;
            }
        }
        &-desktop {
            @media (max-width:769px) {
                display: none !important;
            }
        }

        @media (max-width: 769px) {
            display: flex;
            flex-direction: column;
        }
        &_item {
            // padding: 10px;
            width: auto;
            background-color: #F6F4EF;
            height: 394px;
            border-radius: 30px;
            position: relative;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            @media (max-width: 769px) {
                display: flex;
                flex-direction: column;
                height: 180px;
                width: 100%;

            }    

            &-img {
                position: absolute;
                bottom: 0;
                width: 100%;
                @media (max-width: 769px) {
                    height: initial;
                    width: initial;
                }    
                // right: 25%;
            }

            &-img_container {
                width: 100%;
                position: relative;
                flex-shrink: 0;

                @media (max-width: 769px) {
                    height: 80%;
                    width: 150px;
                    aspect-ratio: 1 / 1;
                    top: 10px;
                    right: -20px;
                }  
            }

            &-content {
                padding-left: 20px;
                padding-right: 20px;
                flex: 1 1;
                display: flex;
                flex-direction: column;
                @media (max-width: 769px) {
                    flex-direction: row;
                }  
            }

            &-title {
                @include mixins.font-inter-20-700;
                margin-bottom: 10px;
                color: vars.$brown-color;
                margin-top: 20px;
                

                @media (max-width: 769px) {
                    height: 100px;
                margin-left: 20px;
                }
            }

            &-description {
                @include mixins.font-inter-sm-400;
                color: vars.$brown-color;
            }
        }


    }
}