@use './../../mixins';
@use './../../vars';

.block__about {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 135px;

    @media (max-width: 1025px) {
        margin-top: 78px;
    }

    &_title {
        @include mixins.font-xcharter-3xl-700;
        color: vars.$brown-color;

        @media (max-width: 768px) {
            font-size: 32px;
        }
    }

    &_description {
        display: flex;
        flex-direction: column;
        gap: 25px;
        @include mixins.font-inter-20-400;
        color: vars.$brown-color;
        margin-top: 10px;
        margin-bottom: 10px;

        max-width: 600px;
    }

    &_container {
        width: 80%;
        max-width: 1041px;

        @media (max-width:768px) {
            width: 95%;
        }
    }

    &-list {
        position: absolute;
        display: flex;
        gap: 25px;
        margin-left: 25px;
        margin-top: 50px;
        bottom: 40px;

        @media (max-width:1024px) {
            flex-direction: column;
            right: 10px;
            margin: 0;
            bottom: 25px;
            gap: 5px;
        }

        // @media (min-width:768px) and (max-width:769px) {
        //     width: 100%;
        //     display: flex;
        //     justify-content: space-between;
        //     margin: 0;
        //     padding-left: 10px;
        //     padding-right: 10px;
        // }

        &_item {
            background-color: vars.$beige-color;
            border-radius: 15px;
            width: 190px;
            height: 56px;
            display: flex;
            justify-content: center;
            align-items: center;

            color: vars.$brown-color;
            @include mixins.font-inter-20-400;

            @media (max-width:768px) {
                width: initial;
                height: initial;
                max-height: 29px;
                padding: 6px 10px 6px 10px;
            }
        }
    }

    &_image-container {
        width: 100%;
        height: 450px;

        display: flex;
        justify-content: start;
        align-items: center;
        position: relative;
        overflow: hidden;
        border-radius: 20px;

        @media (max-width:768px) {
            height: 230px;
            justify-content: end;
            border-radius: 20px;
        }

        @media (min-width:768px) and (max-width:1439px) {
            height: 330px;
            border-radius: 20px;
        }
    }

    &_image {
        position: absolute;
        z-index: -1;
        transform: scaleX(-1);
        width: 100%;
        height: 450px;
        margin-top: 10px;
        border-radius: 20px;

        background-image: url(../../../img/block_about/image.jpg);

        background-image: image-set(url("../../../img/block_about/image.avif") type("image/avif"),
                    url("../../../img/block_about/image.webp") type("image/webp"),
                    url("../../../img/block_about/image.jpg") type("image/jpeg"));
        background-position: 80% 50%;

        background-size: 100%;

        background-repeat: no-repeat;

        @media (min-width: 768px) and (max-width: 1024px) {
            background-size: 150%;
        }

        @media (min-width: 768px) and (max-width: 550px) {
            background-size: 200%;
            background-position: 50% 55% !important;

        }

        @media (max-width:768px) {
            background-position: 20% 100% !important;
            width: 100%;
            height: 230px;
            background-size: 150%;
            padding-left: 20px;
        }
    }
}