@use './../../mixins';
@use './../../vars';


.block__join {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;

    &_container {
        width: 80%;

        @media (max-width: 426px) {
            width: 95%;
        }
    }

    &_title {
        @include mixins.font-xcharter-h2-700;
        color: vars.$brown-color;

        @media (max-width: 426px) {
            font-size: 32px;
        }
    }


    &_list {
        margin-top: 25px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        // gap: 15px;
        width: 100%;
        gap: 25px;
        justify-items: stretch;
        @media (max-width: 1025px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            
        }

        &_item  {
            // width: fit-content;
            background-color: vars.$beige-color;
            padding: 20px;
            border-radius: 40px;
            min-height: 221px;
            width: auto;
            overflow: hidden;

            @media (max-width: 426px) {
                min-height: 180px !important;
                border-radius: 20px;
            }

            
            @media (max-width: 1025px) {
                height: 180px;
                font-family: Inter;
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
                letter-spacing: 0%;
                &-title { 
                    @include mixins.font-inter-sm-400;
                    line-height: 120%;               
                }
            }

            &-title {
                @include mixins.font-inter-lg-400;
                color: vars.$brown-color;

                display: block;
                width: 100%;

                @media (max-width: 426px) {
                    font-size: 16px;
                }    
            }

            &-img {
                position: absolute;
            }
        }

        &_item-1  {
            // grid-row: 1 / 2 span;
            grid-column: 0 / 2 span;
            grid-row: 1 / 2 span;
            background: url('../../../img/block_join/image2.jpeg') center / cover;
            background-size: 125%;
            background-repeat: no-repeat;
            &_img {
                position: absolute;
                right: 0px;
                top: 0px;
            }

            @media (max-width: 1025px) {
                grid-column: 1 / 3;
                background-position: 50% 25%;
            }
        }

        &_item-2  {
            // grid-row: 1 / 2 span;
            grid-column: 2 / 3 span;
            position: relative;
            &_img {
                position: absolute;
                width: 487px;
                height: 261px;

                right: 0px;
                top: 0px;
            }


            @media (max-width: 1025px) {
                grid-column: 1 / 2;   
                grid-row: 2;   
                
                &_img {
                    width: 170px;
                    height: 110px;
                    object-fit: cover;
                    bottom: 0;
                    top: inherit;
                }
            }
        }

        &_item-3  {
            // grid-row: 2 / 3 span;
            grid-column: 2 / 3 ;
            position: relative;
            &_img {
                position: absolute;
                right: 0px;
                bottom: 0px;
                object-fit: contain;
            }

            @media (max-width: 1025px) {
                grid-column: 2 / 3;
                grid-row: 3; 
                &_img {
                    width: 129px;
                    height: 94px;
                    right: 10px;
                    bottom: 10px;

                    object-fit: cover;

                }
            }
        }

        &_item-4  {
            // grid-row: 2 / 3 span;

            grid-column: 3 / 5;

            display: flex;
            align-items: end;
            position: relative;
            &_img {
                position: absolute;
                right: 0px;
                top: 0px;
            }

            @media (max-width: 1025px) {
                grid-column: 2 / 2;
                grid-row: 2;
                align-items: start;
                &_img {
                    width: 137px;
                    height: 94px;
                    right: -10px;
                    top: 87px;            
                }
            }
        }

        &_item-5  {
            // grid-row: 2 / 3 span;

            grid-column: 1 / 3;
            // background-position: 1% ;
            background-image: url('../../../img/block_join/image3.jpg');
            background-position: 80% 25%;
            background-size: 130%;
            background-repeat: no-repeat;
            &_img {
                position: absolute;
                right: 0px;
                top: 0px;
            }

            @media (max-width: 426px) {
                background-position: 48% 57%;
                background-size: 181%;
            }

            @media (max-width: 1025px) {
                grid-column: 1 / 3;
                grid-row: 4;        

            }
        }

        &_item-6  {
            // grid-row: 2 / 3 span;
            background: url('../../../img/block_join/image4.jpg');
            background-size: 180%;

            background-position: 50%;
            background-repeat: no-repeat;
            grid-column: 3 / 5;

            &_title {
                @include mixins.font-inter-lg-400;
                color: vars.$brown-color;

                display: block;
                width: 192px;
                height: 58px;

                @media (max-width: 426px) {
                    font-size: 16px;
                }
            }

            @media (max-width: 1025px) {
                grid-column: 1 / 2;
                grid-row: 3;
                background-position: 90% 0%;

                &_title {
                     width: 100%;
                }
            }
        }
    }
}