<section class="block__about">
    <div class="block__about_container">
        <h1 class="block__about_title">What is NordCeremony?</h1>

        <span class="block__about_description-desktop">
            NordCeremony is an online platform for selling eco-friendly products and services for ceremonies. We help create meaningful events – from weddings and anniversaries to corporate gatherings and farewells. Here, traditions blend with modern convenience, with sustainability at the forefront
        </span>

        <span class="block__about_description-mobile">
            <span>
                NordCeremony is an online platform for selling eco-friendly products and services for ceremonies. We help create meaningful events – from weddings and anniversaries to corporate gatherings and farewells.
            </span>
            <span>
                Here, traditions blend with modern convenience, with sustainability at the forefront
            </span>
        </span>

        <div class="block__about_image-container">
            <div class="block__about_image" ></div>

            <div class="block__about-list">
                <div class="block__about-list_item">Smart Assistant</div>
                <div class="block__about-list_item">Personalized Picks</div>
                <div class="block__about-list_item">Flexible Booking</div>
            </div>
        </div>
    </div>

</section>