<section class="block__about">
    <div class="block__about_container">
        <h1 class="block__about_title">What is&nbsp;NordCeremony?</h1>
        <!--
        // TODO: Здесь дизайнер не совсем точно передал тексты, не всегда нужно следовать дизайну если текст один и тот же. 
        // TODO: Постараться следовать DRY принципу
        -->
        <div class="block__about_description">
            <p>
                NordCeremony is&nbsp;an&nbsp;online platform for selling eco-friendly products and services for
                ceremonies.
                We&nbsp;help create meaningful events&nbsp;&mdash; from weddings and anniversaries to&nbsp;corporate
                gatherings
                and farewells.
            </p>
            <p>
                Here, traditions blend with modern convenience, with sustainability at&nbsp;the forefront
            </p>
        </div>

        <div class="block__about_image-container">
            <!-- TODO: Это изображение должно быть контентным, плохо использовать как фон, проблемы с оптимизацией скорость, поиск -->
            <div class="block__about_image"></div>

            <div class="block__about-list">
                <div class="block__about-list_item">Smart Assistant</div>
                <div class="block__about-list_item">Personalized Picks</div>
                <div class="block__about-list_item">Flexible Booking</div>
            </div>
        </div>
    </div>

</section>