<section class="block__initial">
    <div class="block__initial_container">
        <div class="block__initial_top">
            <div class="block__initial_top_info">
                <h1 class="block__initial_top_title">
                    <span class="block__initial_top_title-highlighted">
                        The first <br/>
                    </span>
                    eco-marketplace for organizing  ceremonies
                </h1>

                <span class="block__initial_top_desciption">
                    For those who value traditions
                </span>

                <div class="block__initial_top-btn_container">
                    <button class="popup_join_btn_open block__initial_top-btn block__initial_top-btn-desktop">
                        Join Now
                    </button>

                    <span class="block__initial_top-btn-desciption block__initial_top-btn-desktop">
                        The first 50 to join will receive preferential terms
                    </span>
                </div>

                
            </div>

            <div class="block__initial_top_image_container">
                <img class="block__initial_top_image" src="./img/block_initial/image.jpg" alt="">
            </div>

            <button class="popup_join_btn_open block__initial_top-btn block__initial_top-btn-mobile">
                Join Now
            </button>

            <span class="block__initial_top-btn-desciption block__initial_top-btn-mobile">
                The first 50 to join will receive preferential terms
            </span>
        </div>

        <div class="block__initial_bottom">
            <ul class="block__initial_bottom-list">
                <li class="block__initial_bottom-list_item">
                    <span class="block__initial_bottom-list_item-title">Access to a high-paying audience</span>
                </li>
                <li class="block__initial_bottom-list_item">
                    <span class="block__initial_bottom-list_item-title">Guaranteed payments & transaction protection</span>
                </li>
                <li class="block__initial_bottom-list_item">
                    <span class="block__initial_bottom-list_item-title">Marketing support & analytics</span>
                </li>
            </ul>
        </div>
    </div>
</section>