<section class="block__join">
    <div class="block__join_container">
        <h1 class="block__join_title">Join Our Artisan Community</h1>
    
        <ul class="block__join_list">
            <li class="block__join_list_item block__join_list_item-1">
                <span class="block__join_list_item-title">Craft artisans (decor, textiles, tableware, souvenirs)</span>
            </li>
            
            <li class="block__join_list_item block__join_list_item-2">
                <span class="block__join_list_item-title">Florists & decorators</span>
    
                <img class="block__join_list_item-2_img" src="../img/block_join/flowers2.png" alt="">
            </li>

            <li class="block__join_list_item block__join_list_item-3">
                <span class="block__join_list_item-title">Wedding & ceremony organizers</span>
    
                <img class="block__join_list_item-3_img" src="../img/block_join/flowers.png" alt="">
            </li>

            <li class="block__join_list_item block__join_list_item-4">
                <span class="block__join_list_item-title">
                    <span>
                        Confectioners
                    </span>
                    <br>
                    <span>& ritual art specialists</span>
                </span>
    
                <img class="block__join_list_item-4_img" src="../img/block_join/sweet.png" alt="">
            </li>

            <li class="block__join_list_item block__join_list_item-5">
                <span class="block__join_list_item-title">Photographers & videographers</span>
            </li>

            <li class="block__join_list_item block__join_list_item-6">
                <span class="block__join_list_item-6_title">Owners of event venues</span>
                
            </li>
        </ul>
    </div>
</section> 