<section class="choice__us">
    <div class="choice__us_container">
        <h1 class="choice__us_title">Why Partner with NordCeremony?</h1>

        <ul class="choice__us_list choice__us_list-mobile">
            <li class="choice__us_list_item">
                <h2 class="choice__us_list_item-title">Targeted Promotion</h2>
                <div class="choice__us_list_item-content">
                    <span class="choice__us_list_item-description">Our customers value quality, authenticity, and local production</span>
                    <div class="choice__us_list_item-img_container">
                        <img class="choice__us_list_item-img" src="./img/choiceus/image1.png" alt="">
                    </div>
                </div>
                
                
            </li>

            <li class="choice__us_list_item">
                <h2 class="choice__us_list_item-title">Guaranteed Payments</h2>
                <div class="choice__us_list_item-content">
                    <span class="choice__us_list_item-description">We provide a reliable payment system and seller protection</span>
                    <div class="choice__us_list_item-img_container">
                        <img class="choice__us_list_item-img" src="./img/choiceus/image3.png" alt="">
                    </div>
                </div>
                
            </li>

            <li class="choice__us_list_item">
                <h2 class="choice__us_list_item-title">Analytics & Marketing Support</h2>
                <div class="choice__us_list_item-content">
                    <span class="choice__us_list_item-description">Get insights into trends and customer behavior</span>
                    <div class="choice__us_list_item-img_container">
                        <img class="choice__us_list_item-img" src="./img/choiceus/image4.png" alt="">
                    </div>
                </div>
                
            </li>

            <li class="choice__us_list_item">
                <h2 class="choice__us_list_item-title">Marketplace Without Mass Imports</h2>
                <div class="choice__us_list_item-content">
                    <span class="choice__us_list_item-description">Compete only with artisans and local brands – not with large retailers</span>
                    <div class="choice__us_list_item-img_container">
                        <img class="choice__us_list_item-img" src="./img/choiceus/image2.png" alt="">
                    </div>
                </div>
                
            </li>
        </ul>

        <ul class="choice__us_list choice__us_list-desktop">
            <li class="choice__us_list_item">
                <div class="choice__us_list_item-content">
                    <h2 class="choice__us_list_item-title">Targeted Promotion</h2>
                    <span class="choice__us_list_item-description">Our customers value quality, authenticity, and local production</span>
                    
                </div>
                
                <div class="choice__us_list_item-img_container">
                    <img class="choice__us_list_item-img" src="./img/choiceus/image1.png" alt="">
                </div>
            </li>

            <li class="choice__us_list_item">
                <div class="choice__us_list_item-content">
                    <h2 class="choice__us_list_item-title">Guaranteed Payments</h2>
                    <span class="choice__us_list_item-description">We provide a reliable payment system and seller protection</span>
                </div>
                
                <div class="choice__us_list_item-img_container">
                    <img class="choice__us_list_item-img" src="./img/choiceus/image3.png" alt="">
                </div>
            </li>

            <li class="choice__us_list_item">
                <div class="choice__us_list_item-content">
                    <h2 class="choice__us_list_item-title">Analytics & Marketing Support</h2>
                    <span class="choice__us_list_item-description">Get insights into trends and customer behavior</span>
                </div>
                
                <div class="choice__us_list_item-img_container">
                    <img class="choice__us_list_item-img" src="./img/choiceus/image4.png" alt="">
                </div>
            </li>

            <li class="choice__us_list_item">
                <div class="choice__us_list_item-content">
                    <h2 class="choice__us_list_item-title">Marketplace Without Mass Imports</h2>
                    <span class="choice__us_list_item-description">Compete only with artisans and local brands – not with large retailers</span>
                </div>
                
                <div class="choice__us_list_item-img_container">
                    <img class="choice__us_list_item-img" src="./img/choiceus/image2.png" alt="">
                </div>
            </li>
        </ul>
    </div>

</section>