<section class="block__contact">
    <div class="block__contact_container">
        <div class="block__contact_collumn">
            <div class="block__contact_collumn_item">
                <h1 class="block__contact_collumn_item-title">
                    Join NordCeremony and connect with customers who appreciate your craft
                </h1>
    
                <button class="popup_join_btn_open block__contact_collumn_item_btn">Join Now</button>
            </div>
    
            <div class="block__contact_collumn_item-support">
                <h1 class="block__contact_collumn_item-support_title">
                    Support
                </h1>
    
                <span class="block__contact_collumn_item-support_description">If you have any questions, we’ll be happy to answer them. Contact our Help Center</span>
    
                <a class="block__contact_collumn_item-support_link" href="#">To contact</a>
            </div>

            
            <div class="block__contact_collumn_item-social">
                <h1 class="block__contact_collumn_item-social_title">
                    Social
                </h1>
    
    
                <div class="block__contact_collumn_item-social_network">
                        <a href="#">
                            <img class="block__contact_collumn_item-social_network_item" src="./img/social/socials.svg" alt="">
                        </a href="#">
                        <a href="#">
                            <img class="block__contact_collumn_item-social_network_item" src="./img/social/socials-3.svg" alt="">
                        </a href="#">
                        <a href="#">
                            <img class="block__contact_collumn_item-social_network_item" src="./img/social/socials-1.svg" alt="">
                        </a href="#">
                        <a href="#">
                            <img class="block__contact_collumn_item-social_network_item"  src="./img/social/socials-2.svg" alt="">
                        </a>
                </div>
            </div>

            <div class="block__contact_collumn_item-support-2">
                <a class="block__contact_collumn_item-support-2_link" href="#">Terms of use</a>
                <a class="block__contact_collumn_item-support-2_link" href="#">Privacy Policy</a>
            </div>
    
        </div>
    </div>
    
</section>