<section class="block__contact" id="contacts">
    <div class="block__contact_container">
        <div class="block__contact_collumn">
            <div class="block__contact_collumn_item">
                <div class="block__contact_collumn_item-title">
                    Join NordCeremony and connect with customers who appreciate your craft
                </div>
    
                <button class="popup_join_btn_open block__contact_collumn_item_btn">Join Now</button>
            </div>
    
            <div class="block__contact_collumn_item-support">
                <div class="block__contact_collumn_item-support_title">
                    Support
                </div>
    
                <span class="block__contact_collumn_item-support_description">If you have any questions, we’ll be happy to answer them. Contact our Help Center</span>
    
                <a class="block__contact_collumn_item-support_link" href="https://wa.me/4741198591" target="_blank">To contact</a>
            </div>

            
            <div class="block__contact_collumn_item-social">
                <div class="block__contact_collumn_item-social_title">
                    Social
                </div>
    
                <div class="block__contact_collumn_item-social_network">
                        <a href="https://www.instagram.com/nordceremony/" target="_blank">
                            <img class="block__contact_collumn_item-social_network_item" src="./img/social/socials.svg" alt="Instagram">
                        </a>
                        <a href="https://www.facebook.com/nordceremony/" target="_blank">
                            <img class="block__contact_collumn_item-social_network_item" src="./img/social/socials-3.svg" alt="Facebook">
                        </a>
                </div>
            </div>

            <div class="block__contact_collumn_item-support-2">
                <a class="block__contact_collumn_item-support-2_link" href="https://nordceremony.com/terms-and-conditions/" target="_blank">Terms of use</a>
                <a class="block__contact_collumn_item-support-2_link" href="https://nordceremony.com/privacy-policy/" target="_blank">Privacy Policy</a>
            </div>
    
        </div>
    </div>
    
</section>