<header class="header">
    <div class="header__container">
        <div class="header__row">
            <a class="header__logo" href="/">
                <img src="../img/header/logo.svg" alt="logo">
            </a>
            

            <nav class="header__nav">
                <ul class="header__nav_list">
                    <li >
                        <a class="header__nav_list-item"  href="">About Us</a>
                    </li>
                    <li >
                        <a class="header__nav_list-item" href="">Connection Steps</a>
                    </li>
                    <li >
                        <a class="header__nav_list-item" href="">Partnership Terms</a>
                    </li>
                    <li >
                        <a class="header__nav_list-item" href="">Contacts</a>
                    </li>
                </ul>
            </nav>

            <button class="header__btn-store">
                <span>Open Store</span>
            </button>

            <button id="header_menu_open_btn" class="header__menu-btn-open">
                <img src="./img/header/header-menu-burger.svg" alt="header-menu-burger">
            </button>
        </div>
        
    </div>

    <div id="header__menu" class="header__menu">
        <div id="header__menu_backdrop" class="header__menu-backdrop"></div>
        <div id="header__menu_content" class="header__menu_content">
            <div class="header__menu_content_top">
                <ul class="header__menu-nav">
                    <li class="header__menu-nav_item">
                        <a href="#">About Us</a>                 
                    </li>
                    <li class="header__menu-nav_item">
                        <a href="#">Connection Steps</a>
                    </li>
                    <li class="header__menu-nav_item">
                        <a href="#">Partnership Terms</a>
                    </li>
                    <li class="header__menu-nav_item">
                        <a href="#">Contacts</a>
                    </li>
                </ul>
    
                <button class="header__menu-btn">
                    Open Store
                </button>
            </div>


            <div class="header__menu_content_bottom">
                <!-- <div class="header__menu_bottom_container"> -->
                    <img src="./img/social/socials.svg" alt="">
                    <img src="./img/social/socials-3.svg" alt="">
                    <img src="./img/social/socials-1.svg" alt="">
                    <img src="./img/social/socials-2.svg" alt="">
                <!-- </div> -->
            </div>
        </div>    
    </div>
</header>