<div id="popup_join" class="popup__join">
    <div id="" class="popup__join-backdrop"></div>

    <div id="popup_join_content" class="popup__join_content">
        <div class="popup__join_top">
            <h1 class="popup__join_title">
                Become a Supplier
            </h1>
    
            <button id="popup_join_btn-close" class="popup__join_btn-close">
                <img src="../img/popup_join/close.svg" alt="close">
            </button>
        </div>
    
        <div class="popup__join_input-container">
            <label class="popup__join_label" for="fullName">Full Name</label>
            <input class="popup__join_input" type="text" placeholder="Full Name" id="fullName">
        </div>

        <div class="popup__join_input-container">
            <label class="popup__join_label" for="fullName">Telephone</label>
            <div class="popup__join_input-tel_container">
                <!-- <select class="popup__join_input-tel_select" name="country" id="country">
                    
                </select> -->
                <div class="popup__join_input-tel_select">
                    <img src="./img/popup_join/flag.png" alt="">

                    <img src="./img/popup_join/arrow.svg" alt="">
                </div>

                <input class="popup__join_input-tel" placeholder="Telephone" type="text" id="fullName">
            </div>
        </div>

        <div class="popup__join_input-container">
            <label class="popup__join_label" for="fullName">Email</label>
            <input class="popup__join_input popup__join_input-error" placeholder="Email" type="text" id="email">
            <span class="popup__join_input_description-error">Error</span>
        </div>

        <div class="popup__join_input-container">
            <label class="popup__join_label" for="fullName">Niche</label>
            <input class="popup__join_input" type="text" placeholder="Niche" id="Niche">
        </div>

        <div class="popup__join_input-container">
            <label class="popup__join_label" for="fullName">Sales city</label>
            <input class="popup__join_input" type="text" placeholder="Sales city" id="salescity">
        </div>

        <button id="popup_success_btn_open" class="popup__join_btn">
            Send
        </button>

        <div class="popup__join_bottom">
            <div class="popup__join_checkbox">
                <label class="checkbox">
                    <input class="checkbox-input" type="checkbox" id="myCheckbox">
                    <div class="checkbox-new">
                        <div class="checkbox-new_unchecked">
                        </div>
                        <div class="checkbox-new_checked">
                            <img src="./img/popup_join/check.svg" alt="check">
                        </div>
                        
                    </div>
    
                </label>
            </div>

            <span class="popup__join_description">
                Your personal information will be used to process your order, support your experience on this website, and for other purposes described in our Privacy Policy
            </span>
        </div>
        
    </div>
</div>