<div id="popup_success" class="popup__success">
    <div id="" class="popup__success-backdrop"></div>

    <div id="popup_success_content" class="popup__success_content">

        <div class="popup__success_top">
            <button id="popup__success_btn-close" class="popup__success_btn-close">
                <img src="./img/popup_join/close.svg" alt="close" loading="lazy">
            </button>
        </div>

        <div class="popup__success_bottom">
            <div class="popup__success_title">
                Your application has been received!
            </div>

            <span class="popup__success_description">We will review it and contact you shortly. Thank you for joining
                NordCeremony!</span>
        </div>

    </div>
</div>