<div id="popup_join" class="popup__join">
    <div class="popup__join-backdrop"></div>

    <div id="popup_join_content" class="popup__join_content">
        <div class="popup__join_top">
            <h2 class="popup__join_title">
                Become a Supplier
            </h2>

            <button id="popup_join_btn-close" class="popup__join_btn-close">
                <img src="./img/popup_join/close.svg" alt="close" loading="lazy">
            </button>
        </div>

        <div class="leform-inline" data-id="1"></div>

    </div>
</div>