<section class="process-line" id="connection">
    <div class="process-line__container">
        <div class="process-line-desktop">
            <h1 class="process-line_title">How It Works?</h1>

            <span class="process-line_description">
                Your products will be available to thousands of buyers looking for unique goods and services
            </span>
    
            <div class="process-line__steps-line-container">
                <div class="process-line__steps-line"></div>
    
            </div>
        
            <ul class="process-line__steps">
                <li class="process-line__steps_item">
                    <div class="process-line__steps_item-circle">
                        1
                    </div>
    
                    <span class="process-line__steps_item-title">Register & create your profile</span>
                </li>
    
                <li class="process-line__steps_item">
                    <div class="process-line__steps_item-circle">
                       2
                    </div>
    
                    <span class="process-line__steps_item-title">List your products or services</span>
                </li>
    
                <li class="process-line__steps_item">
                    <div class="process-line__steps_item-circle">
                        3
                    </div>
    
                    <span class="process-line__steps_item-title">Pass moderation – we ensure compliance</span>
                </li>
    
                <li class="process-line__steps_item">
                    <div class="process-line__steps_item-circle">
                        4
                    </div>
    
                    <span class="process-line__steps_item-title">Receive orders & grow your client base</span>
                </li>
            </ul>
        </div>

        <div class="process-line-mobile">
            <h1 class="process-line_title process-line-mobile_title">How It Works?</h1>

            <span class="process-line_description process-line-mobile_description">
                Your products will be available to thousands of buyers looking for unique goods and services
            </span>
    
            <div class="process-line__steps-line-container process-line__steps-line-container-mobile">
                <div class="process-line__steps-line process-line__steps-line-mobile"></div>

            </div>
        
            <ul class="process-line__steps process-line__steps-mobile">
                <li class="process-line__steps_item process-line__steps_item-mobile">
                    <div class="process-line__steps_item-circle process-line__steps_item-mobile-circle">
                        1
                    </div>
    
                    <span class="process-line__steps_item-title process-line__steps_item-mobile-title">Register & create your profile</span>
                </li>
    
                <li class="process-line__steps_item  process-line__steps_item-mobile">
                    <div class="process-line__steps_item-circle process-line__steps_item-mobile-circle">
                       2
                    </div>
    
                    <span class="process-line__steps_item-title process-line__steps_item-mobile-title">List your products or services</span>
                </li>
    
                <li class="process-line__steps_item  process-line__steps_item-mobile">
                    <div class="process-line__steps_item-circle process-line__steps_item-mobile-circle">
                        3
                    </div>
    
                    <span class="process-line__steps_item-title process-line__steps_item-mobile-title">Pass moderation – we ensure compliance</span>
                </li>
    
                <li class="process-line__steps_item  process-line__steps_item-mobile">
                    <div class="process-line__steps_item-circle process-line__steps_item-mobile-circle">
                        4
                    </div>
    
                    <span class="process-line__steps_item-title process-line__steps_item-mobile-title">Receive orders & grow your client base</span>
                </li>
            </ul>
        </div>
    </div>
</section>