<section class="terms__conditions">
    <div class="terms__conditions_container">
        <h1 class="terms__conditions_title">
            <span class="terms__conditions_title-highlighted">
                The first 50
            </span> to join will receive preferential terms
        </h1>
        <div class="terms__conditions_content-right_item terms__conditions_content-right_item-green    
        terms__conditions_content-right_item-mobile
        ">
            Reduced commission – 10% instead of 15% for 3 months. Secure the best spots in the catalog
        </div>
        <div class="terms__conditions_content">
            <div class="terms__conditions_content_background"></div>

            <div class="terms__conditions_content-left">
                <h2 class="terms__conditions_content-left_title">Terms & Conditions</h2>

                <span class="terms__conditions_content-left_description">
                    At least 60% of products must be made in Scandinavia
                </span>
                <span class="terms__conditions_content-left_description">
                    Products & services must align with ceremony themes
                </span>
                <span class="terms__conditions_content-left_description">
                    Fair payment terms & convenient logistics
                </span>

                <button class="terms__conditions_content-left_btn terms__conditions_content-left_btn-desktop">Join Now</button>
            </div>  


            <div class="terms__conditions_content-right">
                <div class="terms__conditions_content-right_item terms__conditions_content-right_item-green    
                terms__conditions_content-right_item-desktop
                ">
                    <span class="terms__conditions_content-right_item_description">The first 50 to join will receive preferential terms</span>

                    Reduced commission – 10% instead of 15% for 3 months. Secure the best spots in the catalog
                </div>

                <div class="terms__conditions_content-right_item">
                    Marketing Support at Our Expense. Gain more customers through our active advertising investments
                </div>

                <div class="terms__conditions_content-right_item">
                    Priority Placement in the Catalog & Ads. Be the first recommended by the marketplace
                </div>

                <div class="terms__conditions_content-right_item">
                    Personalized Support. Assistance with product listings & professional photography
                </div>
            </div>

            <button class="terms__conditions_content-left_btn terms__conditions_content-left_btn-mobile">Join Now</button>

        </div>
    </div>
</section>