@font-face {
	font-family: 'XCharter';
	src: url('./fonts/XCharter-Roman.woff2') format('woff2'),
	url('./fonts/XCharter-Roman.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
	font-family: 'XCharter';
	src: url('./fonts/XCharter-Slanted.woff2') format('woff2'),
	url('./fonts/XCharter-Slanted.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


@font-face {
	font-family: 'XCharter';
	src: url('./fonts/XCharter-Bold.woff2') format('woff2'),
	url('./fonts/XCharter-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
	font-family: 'XCharter';
	src: url('./fonts/XCharter-BoldSlanted.woff2') format('woff2'),
	url('./fonts/XCharter-BoldSlanted.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}